@font-face {
  font-family: "Likes-Script";
  src: url(./MADELikesScript.woff), url(./MADELikesScript.woff2);
}
@font-face {
  font-family: "Likes-Slab";
  src: url(./MADELikesSlab.woff), url(./MADELikesSlab.woff2);
}

body {
  font-family: "Avenir", sans-serif;
  position: fixed;
  width: 100vw;
  height: 100vh;
}
h1 {
  font-family: "Likes-Slab";
}
main.webcontainer {
  width: 100vw;
  height: calc(100% - env(safe-area-inset-top));
  position: absolute;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}
a {
  text-decoration: none;
}

.btn {
  border-radius: 1rem;
}
.alert,
.tooltip-inner {
  border-radius: 1rem;
  opacity: 1 !important;
}
.alert-warning {
  background-color: #facdb3;
  border: #5f351c 1px solid;
  color: #5f351c;
}
.alert-danger {
  background-color: #fbb1ba;
  border: #700a16 1px solid;
  color: #700a16;
}
.alert-info,
.tooltip-inner {
  background-color: #abc3d8;
  border: #023364 1px solid;
  color: #023364;
}

div.numpad {
  padding: 2px;
  border-radius: 2em;
}
table.numpad {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  border-radius: 2em;
  overflow: hidden;
}
.numpad td {
  padding: 0;
}

.numpadbutton {
  font-size: 2rem;
  width: 4rem;
  padding: 0.5rem 1rem;
  margin: 1px;
  border-radius: 0.5rem;
  border: none;
  border: 1px solid;
}

.buttons {
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-top: 0;
}
a.tocart div {
  cursor: pointer;
}
.item {
  padding: 7px;
  width: 170px;
}
.item div {
  background-color: white;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item h1 {
  font-size: 48pt;
}
.item .name {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}
.name p {
  font-size: medium;
  margin: 0;
  display: block;
}

div.receipt {
  height: 85vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  box-shadow: 0px 1rem 2rem 0rem rgba(255, 255, 255, 0.5);
}
.receipt .header {
  border-top-left-radius: 2rem;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: solid 10px;
}
.header h1 {
  font-weight: bolder;
  font-family: "Likes-Slab", sans-serif;
  padding: 0.7rem 0 0.1rem 0;
  margin-bottom: -5px;
}
.header p {
  font-weight: 100;
  padding: 0rem 0 0.7rem 0;
  margin-bottom: -5px;
}
.receipt .body {
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.orderContainer {
  padding: 0.5rem 1rem;
}
table.order thead {
  border-bottom: 2px solid;
}
table.order thead tr td {
  font-size: larger;
  font-weight: bold;
  font-style: normal;
}
table.order td {
  font-size: large;
  color: rgb(50, 50, 50);
  padding: 0.3rem 1rem;
}
td.price {
  font-style: italic;
  color: rgb(155, 155, 155) !important;
}
div.footer {
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-bottom-left-radius: 2rem;
}
div.footer table {
  font-size: larger;
  border: 0px rgba(0, 0, 0, 0) solid;
}
.footer button.pay {
  height: auto;
  border: 0px;
  border-radius: 1rem;
  transition: 100ms ease-in-out;
}
footer.pay.pressed {
  transform: scale(0.95);
}

.pay p {
  font-size: 21px;
  padding: 0.7rem 3rem;
  margin-bottom: 0px;
}

.modal-content {
  border-radius: 2rem !important;
  border: none;
}
.modal-header {
  border: none;
  padding: 2rem 2rem 0.5rem 2rem;
}
.modal-body {
  padding: 0.5rem 2rem 2rem 2rem;
}
.modal-footer {
  border: none;
  padding: 0 2rem 2rem 2rem;
}
.modal-footer a:last-child {
  margin-right: 0;
}
.deletedItemWarn {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0rem 1rem;
  border-radius: 2rem;
}
#deleteItemConfirmLabel {
  color: #cd2132;
}
.deletedItemWarn * {
  margin: 0.5rem 0.2rem;
}
#confirmDelete {
  width: calc(100% - 2rem);
  padding: 1rem;
  margin: 0.5rem 1rem;
  border-radius: 2rem;
  background-color: #adc9a6;
  border: 1px solid #46653e;
  color: #46653e;
}
#cancelDelete {
  width: calc(100% - 2rem);
  padding: 1rem;
  margin: 0rem 1rem;
  border-radius: 2rem;
  background-color: #efb8a9;
  border: 1px solid #ac3e20;
  color: #ac3e20;
}

form {
  border-radius: 2rem;
  padding: 1rem;
}
.form-control,
.input-group-text {
  border-radius: 1rem;
  transition: 150ms;
}
.form-control-color {
  border-radius: 1rem;
  padding: 0rem;
  margin-bottom: 0 !important;
  width: 100%;
  height: 38px;
  transition: 150ms;
}
.form-control-color::-webkit-color-swatch {
  border: none;
  border-radius: 1rem;
  height: 100%;
}

.form-switch {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form-switch .form-check-input {
  height: 30px;
  width: 45px;
  margin-right: 5px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgb%28135, 106, 19%29'/%3e%3c/svg%3e");
}

.form-switch .form-check-label {
  margin: 0;
  padding: 0;
}
.footnote {
  margin: -8px 0 5px 0;
  font-size: smaller;
  font-style: italic;
}
.card {
  border-radius: 2rem;
}
